doctype html
html(lang='en')
 head
   title Hello, World!
 body
   h1 Hello, World!
   div.remark
     p Pug rocks!

//-      nav
//-   navbar-default  div
//-     h1 My Website!
//-   ul
//-     li
//-       a Home
//-     li
//-       a Page 1
//-     li
//-       a Page 2
//-   input